* {
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 700px;
}

#slider-arrow {
  position: relative;
}

#left-arrow {
  color: #fff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  cursor: pointer;
}

#right-arrow {
  color: #fff;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
  cursor: pointer;
}
